body{
  background: url(backside.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#maincontainer{
width:960px;
heigth:auto;
margin-top:20px;
margin: 0 auto;
position:relative;
}


#header{
height:130px;
background-color: #fff;
width:960px;
margin:0 auto;
}
#header-cont{
width:960px;
top:0px;
background-color:#fff;
margin: 0 auto;
}

.logo{
float:left;
padding-top:25px;
padding-left:8px;
}
.logo1{
float:left;
padding-top:38px;
padding-right:12px;
padding-left:14px;
}

.logo2{
float:left;
padding-left:22px;
}

div.horizontal
{
width:1000px;
height:10px;
position:relative;
right:40px;

z-index:1;
}

#home{

width:960px;
height:900px;
background-color:white;
position:absolute;
margin-top:37px;
}

#video{
position:absolute;
right:10px;
bottom:600px;
}
#hotels{
position:absolute;
top:350px;
left:670px;
}
a{
color:black;
}
.title{
position:absolute;
left:10px;
padding-right:3px;
}
.contact{
position:relative;
left:30px;
top:100px;
}